{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/prologue/introduction/" | absURL }}" role="button">Get started</a>
      <p class="meta">The authoritative documentation site for Statusflare.</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Global checks</h2>
        <p>Check websites and APIs from around the world. Collect uptime, metrics, and monitor server response time. It's a great option for website owners, company owners, or even resellers who work with web projects.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Status pages</h2>
        <p>Status pages are a perfect solution for any orginization that wants to inform its customers about the availability of their services. Easily create one and add your monitors, thats it!</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Integrations</h2>
        <p>Keep your team up to date with various integrations out of the box. Slack, Discord, Telegram, PagerDuty, and more.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Custom domains</h2>
        <p>Add a customain domain to Statusflare to easily add an extra level of branding.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Team members</h2>
        <p>Collaborate with others to setup and manage your status page. Easily share access to your account.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Dark mode</h2>
        <p>Switch to a low-light UI with the click of a button. Easy to see and use at night or during the day.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
