{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/introduction/" | absURL }}" role="button">Get started</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4"><a href="{{ "docs/integrations/" | absURL }}">Integrations</a></h2>
        <p>Keep your team up to date with various integrations out of the box. Slack, Discord, Telegram, PagerDuty, and more.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4"><a href="{{ "docs/custom-domains/" | absURL }}">Custom domains</a></h2>
        <p>Add a customain domain to Statusflare to easily add an extra level of branding.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4"><a href="{{ "docs/team-members/" | absURL }}">Team members</a></h2>
        <p>Collaborate with others to setup and manage your status page. Easily share access to your account.</p>
      </div>
      
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4"><a href="{{ "docs/frequently-asked-questions/" | absURL }}">FAQ</a></h2>
        <p>Frequently Asked Questions, the quickest way to find your answer for common issues.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4"><a href="{{ "/support/" | absURL }}">Support</a></h2>
        <p>If your want to connect us or you have a pressing question, feel free to reach out!</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
